@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button onclick="handleOnClickTrigger()" class="sec-button">Trigger WhiteLabel</button>
    <button onclick="handleOnClickReset()" class="sec-button">Reset WhiteLabel</button>
    <div class="logo"></div>
</div>

<script src="~/js/whitelabel.js"></script>
